<p>Реализуйте метод, сливающий два отсортированных по неубыванию массива чисел в один отсортированный в том же порядке массив. Массивы могут быть любой длины, в том числе нулевой.</p><p>Предполагается, что вы реализуете алгоритм слияния, имеющий линейную сложность: он будет идти 
по двум исходным массивам и сразу формировать отсортированный 
результирующий массив. Так, чтобы сортировка полученного массива при 
помощи Arrays.sort() уже не требовалась. К сожалению, автоматически это  не проверить, так что это остается на вашей совести :)<br></p><p>Воспользуйтесь предоставленным шаблоном. Декларацию класса, метод main и обработку ввода-вывода добавит проверяющая система.</p><p><b>Пример</b></p><p>Если на вход подаются массивы {0, 2, 2} и {1, 3}, то на выходе должен получиться массив {0, 1, 2, 2, 3}<br></p><br><b>Memory limit</b>: 256 Mb<br><b>Time limit</b>: 4s<br><br>