<p>Реализуйте метод, проверяющий, является ли заданная строка палиндромом. Палиндромом называется строка, которая читается одинаково слева направо и справа налево (в том числе пустая). При определении "палиндромности" строки должны учитываться только буквы и цифры. А пробелы, знаки препинания, а также регистр символов должны игнорироваться. Гарантируется, что в метод попадают только строки, состоящие из символов ASCII (цифры, латинские буквы, знаки препинания). Т.е. русских, китайских и прочих экзотических символов в строке не будет.<br></p>

<p>Воспользуйтесь предоставленным шаблоном. Декларацию класса, метод main и обработку ввода-вывода добавит проверяющая система.</p>
<p>Подсказки (не читайте, если хотите решить сами):</p>
<ul><li>для удаления из строки всех символов, не являющихся буквами и цифрами, можно воспользоваться регулярным выражением <code>"[^a-zA-Z0-9]"</code>; найдите в классе String метод, выполняющий замену по регулярному выражению;</li><li>для перестановки символов строки в обратном порядке можно воспользоваться методом reverse(), который находится  в классе StringBuilder;</li><li>в классе String есть методы для преобразования всей строки в верхний и нижний регистр.<br></li></ul><br><b>Sample Input:</b><br>Madam, I'm Adam!<br><b>Sample Output:</b><br>true<br><br><b>Memory limit</b>: 256 Mb<br><b>Time limit</b>: 5s<br><br>