<p>Дан сериализуемый класс Animal:</p><p></p><pre><code><pre>class Animal implements Serializable {<br>    private final String name;<br><br>    public Animal(String name) {<br>        this.name = name;<br>    }<br><br>    @Override<br>    public boolean equals(Object obj) {<br>        if (obj instanceof Animal) {<br>            return Objects.equals(name, ((Animal) obj).name);<br>        }<br>        return false;<br>    }<br>}<br></pre></code></pre><p></p><p>Реализуйте метод, который из переданного массива байт восстановит массив объектов Animal. Массив байт устроен следующим образом. Сначала идет число типа int, записанное при помощи <code>ObjectOutputStream.writeInt(size)</code>. Далее подряд записано указанное количество объектов типа Animal, сериализованных при помощи <code>ObjectOutputStream.writeObject(animal)</code>.</p><p>Если вдруг массив байт не является корректным представлением массива экземпляров Animal, то метод должен бросить исключение java.lang.IllegalArgumentException.</p><p> Причины некорректности могут быть разные. Попробуйте подать на вход методу разные некорректные 
данные и посмотрите, какие исключения будут возникать. Вот их-то и нужно
 превратить в 

IllegalArgumentException и выбросить. Если что-то забудете, то 
проверяющая система подскажет. Главное не глотать никаких исключений, 
т.е. не оставлять нигде пустой catch.<br></p><br><b>Memory limit</b>: 256 Mb<br><b>Time limit</b>: 5s<br><br>