<p>Дан класс ComplexNumber. Переопределите в нем методы equals() и hashCode() так, чтобы equals() сравнивал экземпляры ComplexNumber по содержимому полей re и im, а hashCode() был бы согласованным с реализацией equals().</p><p>Реализация hashCode(), возвращающая константу или не учитывающая дробную часть re и im, засчитана не будет</p><p><b>Пример</b></p>
<pre><code class="java">ComplexNumber a = new ComplexNumber(1, 1);
ComplexNumber b = new ComplexNumber(1, 1);
// a.equals(b) must return true
// a.hashCode() must be equal to b.hashCode()
</code></pre>
<br><b>Подсказка 1.</b> Поищите в классе java.lang.Double статический метод, который поможет в решении задачи.<br><p><b>Подсказка 2.</b> Если задача никак не решается, можно позвать на помощь среду разработки, которая умеет сама генерировать equals() и hashCode(). Если вы воспользовались  помощью IDE, то  разберитесь, что  было сгенерировано и почему оно выглядит именно так. Когда вас на собеседовании попросят на бумажке реализовать equals() и hashCode() для какого-нибудь простого класса, то среда разработки помочь не сможет.<br></p><br><b>Memory limit</b>: 256 Mb<br><b>Time limit</b>: 5s<br><br>