<p>Реализуйте метод, вычисляющий <a rel="nofollow" href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%BC%D0%BC%D0%B5%D1%82%D1%80%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B7%D0%BD%D0%BE%D1%81%D1%82%D1%8C">симметрическую разность</a> двух множеств.</p><p>Метод должен возвращать результат в виде нового множества. Изменять переданные в него множества не допускается.</p><p><b>Пример</b></p><p>Симметрическая разность множеств <code>{1, 2, 3}</code>
и <code>{0, 1, 2}</code> равна <code>{0, 3}</code>.</p><br><b>Memory limit</b>: 256 Mb<br><b>Time limit</b>: 5s<br><br>