<p>Реализуйте метод, который возвращает букву, стоящую в таблице UNICODE после символа "\" (обратный слэш) на расстоянии <code>a</code>.</p>
<p>В качестве примера написано заведомо неправильное выражение. Исправьте его.</p><br><b>Sample Input:</b><br>32<br><br><b>Sample Output:</b><br>|<br><br><br><b>Sample Input:</b><br>29<br><br><b>Sample Output:</b><br>y<br><br><br><b>Memory limit</b>: 256 Mb<br><b>Time limit</b>: 1s<br><br>