<p>Напишите программу, выводящую в консоль <code>It's alive! It's alive!</code></p>
<p>Класс должен называться "Main", это ограничение проверяющей системы.</p><br><b>Sample Input:</b><br><br><b>Sample Output:</b><br>It's alive! It's alive!<br><br><b>Memory limit</b>: 256 Mb<br><b>Time limit</b>: 5s<br><br>