<p>На игровом  поле находится робот. Позиция робота на поле описывается двумя целочисленным координатами: X и Y. Ось X смотрит слева направо, ось Y — снизу вверх. (Помните, как рисовали графики функций в школе?)<br></p><p>В начальный момент робот находится в некоторой позиции на поле. Также известно, куда робот смотрит: вверх, вниз, направо или налево. Ваша задача — привести робота в заданную точку игрового поля.</p><p>Робот описывается классом Robot. Вы можете пользоваться следующими его методами (реализация вам неизвестна):<br></p>
<pre><code class="java">public class Robot {<br><br>    public Direction getDirection() {<br>        // текущее направление взгляда<br>    }<br><br>    public int getX() {<br>        // текущая координата X<br>    }<br><br>    public int getY() {<br>        // текущая координата Y<br>    }<br><br>    public void turnLeft() {<br>        // повернуться на 90 градусов против часовой стрелки<br>    }<br><br>    public void turnRight() {<br>        // повернуться на 90 градусов по часовой стрелке<br>    }<br><br>    public void stepForward() {<br>        // шаг в направлении взгляда
        // за один шаг робот изменяет одну свою координату на единицу<br>    }<br>}<br></code></pre>Direction, направление взгляда робота,  — это перечисление:<br><pre><code class="java">public enum Direction {<br>    UP,<br>    DOWN,<br>    LEFT,<br>    RIGHT
}
</code></pre>
<p><br></p><p>Как это  выглядит:</p><p><img src="https://ucarecdn.com/54490c3b-9a32-4f7b-85c2-efd12455b5c0/" alt="" title="Image: https://ucarecdn.com/54490c3b-9a32-4f7b-85c2-efd12455b5c0/"><br></p><p><b>Пример</b></p>
<p>В метод передано: toX == 3, toY == 0; начальное состояние робота такое: robot.getX() == 0, robot.getY() == 0, robot.getDirection() == Direction.UP</p>
<p>Чтобы привести робота в указанную точку (3, 0), метод должен вызвать у робота следующие методы:</p>
<pre><code class="java">robot.turnRight();
robot.stepForward();
robot.stepForward();
robot.stepForward();
</code></pre>
<p><br></p><p>P.S. Если вам понравилось это задание, то вам может прийтись по душе игра <a rel="nofollow" href="http://robocode.sourceforge.net/">Robocode</a>, в которой надо написать алгоритм управления танком. Алгоритмы, написанные разными людьми, соревнуются между собой.</p><br><b>Memory limit</b>: 256 Mb<br><b>Time limit</b>: 5s<br><br>